<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="NetworkMapper"
        android:theme="@style/Theme.NetworkMapper">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7ezkXkb0WlpPGDsxBF2g4ZPTennjIYoA"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NetworkMapper">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>